[Desktop Entry]
Type=Application
Exec=setxkbmap -option caps:swapescape -option ctrl:menu_rctrl
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=setxkb
Name=setxkb
Comment[en_US]=swap escaps anb block and add right ctrl instead of menu
Comment=swap escaps anb block and add right ctrl instead of menu
